<div class="container">

  <div class="pl-0 pt-5" style="font-family: 'Roboto', sans-serif; font-weight: 900; font-size: 25px; line-height: 41px; color: #313131; margin-top: -20px;">
    <p>Pets perdidos</p>


  </div>

  <div class="row d-flex justify-content-space-around">
    <% @pets.each do |pet| %>
      <div class="card text-center col-2 m-3 w-100 pr-0 pl-0 border-white shadow-sm">
        <%= link_to pet_path(pet) do %>
          <%# if pet.photo.attached? %>
        <%#= cl_image_tag pet.photo.key, class:"figure", height: 125, width: 190, :fetch_format=>:auto, crop: :fill %>
          <%# else %>
            <%= image_tag "placeholder.png", class:"card-img-top" %>
          <%# end %>
          <div class="card-body">
            <h5 class="card-title" style="font-family: 'Roboto', sans-serif; font-weight: 700; font-size: 18px;"><%= pet.name %></h5>

            <%= link_to "PDF File", pet_pdf_path(pet, format: 'pdf') %>

          </div>
        <% end %>
      </div>
    <% end %>
  </div>

</div>
