<div class="container mt-5">

  <h2 style="font-family: 'Roboto', sans-serif; font-size: 25px; margin-bottom: 25px;"><%= @user.username %></h2>
  <div class="row justify-content-left mb-5">
  <button type="button" class="btn btn-light mr-3"><%= link_to 'New Annoucement', pets_new_path %></button>
  <%# incluir cards anunciados pelo usuario aqui (colocar droplist para editar e deletar)>
  <%= %>
  <button type="button" class="btn btn-light"><%= link_to 'Back to Home', root_path%></button>
  </div>
</div>