<div id="footer" class="container d-flex justify-content-between" style="margin-top: 50px;">
  <p style="font-family: Archivo Black; font-size: 2vw;">Robyn</p>
  <div>
    <i class="fab fa-facebook-square mr-2 footer-social" style="font-size: 50px;"></i>
    <i class="fab fa-instagram-square footer-social" style="font-size: 50px;"></i>
  </div>
</div>
