<div id="footer" class="container d-flex justify-content-between" style="margin-top: 50px;">
  <a href="http://robyn.com.br"><p style="font-family: Archivo Black; font-size: 2vw;">Robyn</p></a>
  <div>
    <a href="https://www.facebook.com/robyn.pet/" target="_blank"><i class="fab fa-facebook-square mr-2 footer-social" style="font-size: 50px;"></i></a>
    <a href="https://www.instagram.com/robyn.pet/" target="_blank"><i class="fab fa-instagram-square footer-social" style="font-size: 50px;"></i></a>
  </div>
</div>
