<div class="container d-flex justify-content-between" style="margin-top: 50px;">
  <p style="font-family: Archivo Black; font-size: 4vw; align-items: center; align-content: center;">Robyn</p>
  <div>
    <i class="fab fa-facebook-square mr-2 mt-2" style="font-size: 50px;"></i>
    <i class="fab fa-instagram-square mt-2" style="font-size: 50px;"></i>
  </div>
</div>
