<!-- Topo do site -->

<div class="background-top">

  <div class="container">

    <div class="container headline">
      <h1>Perdeu seu pet? A gente te ajuda</h1>

      <div class="botoes">
        <button type="button" class="button-white mr-3">Reportar pet perdido</button>
        <button type="button" class="button-pink">Achei um pet</button>
      </div>

    </div>

  </div>

</div>

<!-- Seção "Ver pets" -->

<div class="container">

  <div class="d-flex justify-content-center section">
    <h1>Ajude um pet a voltar para casa</h1>
  </div>

  <div class="row d-flex justify-content-center mt-5">

  <div class="card-group">

    <div class="card mr-5">
      <%= image_tag "pholder.png", class:"card-img-top card-pets" %>
      <div class="card-body">
        <h5 class="card-title text-center">Card title</h5>
        <br>
        <p class="card-text text-center">Data: xx/xx/xxxx</p>
        <p class="card-text text-center">Local: Bairro</p>
        <p class="card-text text-center"><button type="button" class="btn btn-light">Reportar</button></p>
      </div>
    </div>

    <div class="card mr-5">
      <%= image_tag "pholder.png", class:"card-img-top card-pets" %>
      <div class="card-body">
        <h5 class="card-title text-center">Card title</h5>
        <br>
        <p class="card-text text-center">Data: xx/xx/xxxx</p>
        <p class="card-text text-center">Local: Bairro</p>
        <p class="card-text text-center"><button type="button" class="btn btn-light">Reportar</button></p>
      </div>
    </div>

    <div class="card mr-5">
      <%= image_tag "pholder.png", class:"card-img-top card-pets" %>
      <div class="card-body">
        <h5 class="card-title text-center">Card title</h5>
        <br>
        <p class="card-text text-center">Data: xx/xx/xxxx</p>
        <p class="card-text text-center">Local: Bairro</p>
        <p class="card-text text-center"><button type="button" class="btn btn-light">Reportar</button></p>
      </div>
    </div>

    <div class="card mr-5">
      <%= image_tag "pholder.png", class:"card-img-top card-pets" %>
      <div class="card-body">
        <h5 class="card-title text-center">Card title</h5>
        <br>
        <p class="card-text text-center">Data: xx/xx/xxxx</p>
        <p class="card-text text-center">Local: Bairro</p>
        <p class="card-text text-center"><button type="button" class="btn btn-light">Reportar</button></p>
      </div>
    </div>
  </div>
  </div>

    <div class="d-flex justify-content-center section mt-3">
      <h2>Ver todos</h2>
    </div>

</div>

<!-- Seção "Como funciona" -->

<div class="container">

</div>

