.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-inner {
  background: transparent;
}

.navbar-space {
  margin-left: 200px;
}

.nav-text {
  font-family: Open Sans;
  font-size: 20px;
  color: #2C2C2C;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar-color-white {
  background-color: #F6D0D1;
  transition: 0.5s linear;
}